$xs: '480px';
$sm: '576px';
$md: '768px';
$lg: '960px';
$xl: '1279px';
$xxl: '1400px';

// Colors
$green: #34a853;
$amber: #fbbc04;
$red: #cf3721;
$blue: #4285f4;
$orange: #f25c00;
$orchid: #ac69b0;
$gray: #4a4a4a;
$lightGray: #9b9b9b;
$disabled: #dfdfdf;
